{% macro footer(grid_size) %}
<footer id="footer" class="bg-gray">
  <div class="container {{ grid_size }}">
    {{ social_buttons::social_buttons() }}
    <div class="columns">
      {% if config.extra.footer_tagline %}
      <div class="column col-6 col-lg-12 col-mx-auto" style="text-align: center;">
        {{ config.extra.footer_tagline }}
      </div>
      {% endif %}
      <div class="column col-6 col-lg-12 col-mx-auto" style="text-align: center;">
        © <span id="year"></span> Elliot Killick - CC BY-SA<br />
	    <script defer src="/assets/js/current-year.js"></script>
        elliotonsecurity.com (eos.md) <a href="https://github.com/ElliotKillick/elliotonsecurity.com?ref=elliotonsecurity.com" target="_blank">source code</a>
      </div>
    </div>
  </div>
</footer>
{% endmacro footer %}
