{% macro paginate(grid_size) %}
<!-- MY EDIT -->
<!-- Increase minimum padding applied for mobile -->
<section class="container {{ grid_size }}" style="padding-left: 1rem; padding-right: 1rem;">
<ul class="pagination paginator">
  {% if page.later %}
  <li class="page-item page-prev">
    <a href="{{ page.later.permalink }}">
      <span class="button__icon">←</span>
      <div class="page-item-subtitle">Newer</div>
      <div class="page-item-title h6">{{ page.later.title }}</div>
    </a>
  </li>
  {% endif %}
  {% if page.earlier %}
  <li class="page-item page-next">
    <a href="{{ page.earlier.permalink }}">
      <span class="button__icon">→</span>
      <div class="page-item-subtitle">Older</div>
      <div class="page-item-title h6">{{ page.earlier.title }}</div>
    </a>
  </li>
  {% endif %}
</ul>
</section>
{% endmacro paginate %}
