{% macro paginate(grid_size) %}
<!-- MY EDIT -->
<!-- Increase minimum padding applied for mobile -->
<section class="container {{ grid_size }}" style="padding-left: 1rem; padding-right: 1rem;">
<ul class="pagination paginator">
  {% if paginator.previous %}
  <li class="page-item page-prev">
    <a href="{{ paginator.previous }}">
      <span class="button__icon">←</span>
      <div class="page-item-subtitle">Newer</div>
    </a>
  </li>
  {% endif %}
  {% if paginator.next %}
  <li class="page-item page-next">
    <a href="{{ paginator.next }}">
      <span class="button__icon">→</span>
      <div class="page-item-subtitle">Older</div>
    </a>
  </li>
  {% endif %}
</ul>
</section>
{% endmacro paginate %}
